* {
  box-sizing: border-box;
  color: #c5eff7;
  font-family: 'Century Gothic', sans-serif;
}

html{
  background-image: url("stock_photos/flag_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2px;
}

header h1{
  margin-top: 5px;
  margin-bottom: 5px;
}

.statusbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #c5eff7;
  border-top: 1px solid #c5eff7;
  align-items: center;
  padding: 2px;
}

.statusbar h1 {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  max-width: 320px;
  min-width: 95vw;
}

main {
  padding: 20px;
}

input[type=radio] {
  border: 0px;
  width: 8%;
  height: 1.5em;
  margin: 10px;
  display: none;
}

.answers-list li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  border: 1px solid #c5eff7;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 5px;
}

.answers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.images {
  width: 100%;
}

.container{
  max-width: 600px;
  text-align: center;
  background-color: #3b3f46;
  border: 1px solid #c5eff7;
  border-radius: 6px 6px 6px 6px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: black;
  padding: 10px;
  border-radius: 6px 6px 6px 6px;
}

@media screen and (min-width: 600px){
  .answers-list li{
    width: 90%;
    height: 50px;
    border: 1px solid #c5eff7;
    margin-bottom: 10px;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .statusbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #c5eff7;
    border-top: 1px solid #c5eff7;
    align-items: center;
    padding: 10px;
  }
  
  .statusbar h1 {
    display: inline;
  }
}
