* {
  box-sizing: border-box;
  color: #c5eff7;
  font-family: 'Century Gothic', sans-serif;
}

html{
  background-image: url("stock_photos/flag_background.jpeg");
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.statusbar {
  border-bottom: 1px solid #c5eff7;
  border-top: 1px solid #c5eff7;
  padding: 20px;
  align-items: center;
}

.statusbar h1 {
  display: inline;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 20px;
}

input[type=radio] {
  border: 0px;
  width: 8%;
  height: 1.5em;
  margin: 10px;
}

.js-container{
  background-color: #3b3f46;
  border: 1px solid #c5eff7;
  border-radius: 6px 6px 6px 6px;
}

.btn {
  background-color: black;
  padding: 5px;
}